.Rproj.user
.Rhistory
.RData
.Ruserdata

/01 - Scripts/*
/02 - Inputs/*
/03 - Outputs/*
/04 - GIS/*
/05 - Validation/*
/06 - Reporting/*
/07 - Other/*
/09 - SS/*

!/01 - Scripts/Care Givers Cleaning Script v3.R
!/01 - Scripts/Care Givers Analysis Script v3.R
!/01 - Scripts/Care Givers Cleaning Script v4.R
!/01 - Scripts/Care Givers Analysis Script v4.R
!/01 - Scripts/Individual_respondent_count_check.R

!/02 - Inputs/20210302_Data_cleaning_logbook_v7.xlsx

!/07 - Other/CAREGIVER-SURVEY_DA instructions_v3.xlsx
